.col-xs-6
.col-md-6.col-md-offset-5.col-xs-6
  .content
    .line1.hide Samra & Jawi
    .line2.hide are getting married
    .line3.hide October 10th, 2015

  
:javascript

$(document).ready(function () {
  $('.line1').fadeIn(4000).removeClass('hide');
  $('.line2').fadeIn(6000).removeClass('hide');
  $('.line3').fadeIn(8000).removeClass('hide');
  
});