.col-sm-offset-6.col-xs-offset-3
  .content
    .line1.hide Samra & Jawi
    .line2.hide are getting married
    .line3.hide October 10th, 2015
.row
  .col-sm-offset-6
    =link_to "",  "#{root_url}#our-story", class: 'glyphicon glyphicon-menu-down'

  
:javascript

$(document).ready(function () {
  $('.line1').fadeIn(4000).removeClass('hide');
  $('.line2').fadeIn(6000).removeClass('hide');
  $('.line3').fadeIn(8000).removeClass('hide');
  
});