.row.hidden-xs.hidden-sm
  .col-md-offset-6
    .content
      .line1 Samra & Jawi
      .line2 got Married!!!
      .line3 October 10th, 2015
  .row
    .col-sm-3.col-sm-offset-8
      .scroll-down
        =link_to 'Go to wedding video/pictures', wedding_pictures_path
.row
  .col-xs-5.hidden-md.hidden-lg.hidden-sm.mobil
    .line1 Samra & Jawi
    .line2 are getting married
    .line3 October 10th, 2015
.row
  .col-sm-6
  .col-sm-6.hidden-md.hidden-lg.hidden-xs
    .line1 Samra & Jawi
    .line2 are getting married
    .line3 October 10th, 2015
    
  
:javascript

  $(".line1, .line2, .line3").hide().each(function(i) {
    $(this).delay(i*800).fadeIn(800);
  });