%h1.text-center Our Story
.next.pull-right
  %h3 NEXT >>
.row
  .col-md-12.text-center.hidden-sm.hidden-xs
    .glyphicon.glyphicon-menu-left
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.1
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.2
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.3
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.4
    .glyphicon.glyphicon-option-horizontal    
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.5
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.6
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.7
    .glyphicon.glyphicon-option-horizontal  
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.8
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-heart.9
    .glyphicon.glyphicon-option-horizontal
    .glyphicon.glyphicon-menu-right 

.row
  .our-story-image.hidden-md.hidden-lg.container.mobile 
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i July 15, 2013
      %p The love story of Samra and Jawi started with a simple dinner at Mesale with Weyni and Meki (his cousin and her cousin). Introduced by the cousins these two hit it off right away and it was love at first site.

    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i July 22nd, 23rd and 24th
      %p First date at MKs was on July 22nd. The following day, they went out for a second date, where they watched the movie White House Down.  Third date however was at the kategna and Jazzamba where they sealed with first kiss. The two of them fell in love.  
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i July 25th, 2013
      %p Samra left for the USA with Jawi’s heart. As soon as Samra landed in the US, she got a new phone and downloaded viber and tango.  Needless to say, they were talking for hours dispite the time difference.  
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i September 13, 2013
      %p Samra returns to Addis for work. She was there for two weeks and the romance blossomed. 
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i October 14, 2013
      %p Jawi went to china and the love birds continued vibering and tangoing with 12 hr difference between them.
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i December 18th, 2013
      %p Samra surprises Jawi with a trip to Addis for the holidays and his birthday! Jawi introduces her to his dad and uncles. Samra introduces him to her mom and brothers 
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i January 10th 2014
      %p Samra returns to the US
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i February 18th, 2014
      %p As it was destined for the two to be together forever --Samra moves with a fabulous job to Addis!
    .col-xs-2
      .glyphicon.glyphicon-heart
    .col-xs-10
      %i November 24th 2014
      %p Jawi got down on one knee and asked for her hand in marriage. She said Yes!!  November 25th, 2014, Jawi and Samra left for the US so he can meet the rest of her family and friends. The big day is going to be on October 10th, 2015 and the love story continues...
  .row
    .col-sm-8.col-sm-offset-2.none-mobile
      .text1.text
        %h3.text-center July 15, 2013
        %p.text-center The love story of Samra and Jawi started with a simple dinner at Mesale with Weyni and Meki (his cousin and her cousin). Introduced by the cousins these two hit it off right away and it was love at first site. 
      .text2.text
        %h3.text-center July 22nd, 23rd and 24th
        %p.text-center First date at MKs was on July 22nd. The following day, they went out for a second date, where they watched the movie White House Down.  Third date however was at the kategna and Jazzamba where they sealed with first kiss. The two of them fell in love.  
      .text3.text
        %h3.text-center July 25, 2013
        %p.text-center Samra left for the USA with Jawi’s heart. As soon as Samra landed in the US, she got a new phone and downloaded viber and tango.  Needless to say, they were talking for hours dispite the time difference.
      .text4.text 
        %h3.text-center September 13, 2013
        %p.text-center Samra returns to Addis for work. She was there for two weeks and the romance blossomed.
      .text5.text 
        %h3.text-center October 14, 2013
        %p.text-center Jawi went to china and the love birds continued  vibering and tangoing with 12 hr difference between them.     
      .text6.text 
        %h3.text-center December 18, 2013
        %p.text-center Samra surprises Jawi with a trip to Addis for the holidays and his birthday! Jawi introduces her to his dad and uncles. Samra introduces him to her mom and brothers
      .text7.text 
        %h3.text-center January 10, 2014
        %p.text-center Samra returns to the US
      .text8.text 
        %h3.text-center February 18, 2014
        %p.text-center As it was destined for the two to be together forever --Samra moves with a fabulous job to Addis!
      .text9.text 
        %h3.text-center November 14, 2014
        %p.text-center Jawi got down on one knee and asked for her hand in marriage. She said YES!!.  November 25th, 2014, Jawi and Samra left for the US so he can meet the rest of her family and friends. The big day is going to be on October 10th, 2015 and the love story continues...       

:javascript
  $('.text1').show();
  $('.1').hover(
    function(){
      $('.text1').show();
    },
    function(){
      $('.text1').hide();
    });

  $('.2').hover(
    function(){
      $('.text2').show();
    },
    function(){
      $('.text2').hide();
    });

  $('.3').hover(
    function(){
      $('.text3').show();
    },
    function(){
      $('.text3').hide();
    });
  $('.4').hover(
    function(){
      $('.text4').show();
    },
    function(){
      $('.text4').hide();
    });
  $('.5').hover(
    function(){
      $('.text5').show();
    },
    function(){
      $('.text5').hide();
    });
  $('.6').hover(
    function(){
      $('.text6').show();
    },
    function(){
      $('.text6').hide();
    });
  $('.7').hover(
    function(){
      $('.text7').show();
    },
    function(){
      $('.text7').hide();
    });
  $('.8').hover(
    function(){
      $('.text8').show();
    },
    function(){
      $('.text8').hide();
    });   

  $('.9').hover(
    function(){
      $('.text9').show();
    },
    function(){
      $('.text9').hide();
    });           

  
      