.container
	%h1.page-title Our Story

	%p 1 The requesting entity is an eligible entity as defined in Regulations section 301.7701-3(a);
	%p 2 The requesting entity intended to be classified as a corporation as of the effective date of the S corporation status;
	%p 3 The requesting entity fails to qualify as a corporation solely because Form 8832, Entity Classification Election, was not timely filed under
	%p Regulations section 301.7701-3(c)(1)(i), or Form 8832 was not deemed to have been filed under Regulations section 301.7701-3(c)(1)(v)(C);
	%p 4 The requesting entity fails to qualify as an S corporation on the effective date of the S corporation status solely because the S corporation
	%p election was not timely filed pursuant to section 1362(b); and
	%p 5a The requesting entity timely filed all required federal tax returns and information returns consistent with its requested classification as an S
	%p corporation for all of the years the entity intended to be an S corporation and no inconsistent tax or information returns have been filed by or with
	%p respect to the entity during any of the tax years, or
	
