.container
	%h1.page-title.text-center Our Story
	%h2.text-center Rollover the image
	.glyphicon.glyphicon-menu-left
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.1
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.2
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.3
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.4
	.glyphicon.glyphicon-option-horizontal		
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.5
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.6
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.7
	.glyphicon.glyphicon-option-horizontal	
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-heart.8
	.glyphicon.glyphicon-option-horizontal
	.glyphicon.glyphicon-menu-right
	.row
		.col-sm-6.col-sm-offset-3
			.text1.text
				%h3.text-center April 13, 2008
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			.text2.text
				%h3.text-center December 13, 2010
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
			.text3.text
				%h3.text-center July 22, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.text4.text	
				%h3.text-center March 02, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.text5.text	
				%h3.text-center June 22, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.text6.text	
				%h3.text-center August 22, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.text7.text	
				%h3.text-center October 22, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.text8.text	
				%h3.text-center November 22, 2011
				%p.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.				 

:javascript
	$('.1').hover(
		function(){
			$('.text1').show();
		},
		function(){
			$('.text1').hide();
		});

	$('.2').hover(
		function(){
			$('.text2').show();
		},
		function(){
			$('.text2').hide();
		});

	$('.3').hover(
		function(){
			$('.text3').show();
		},
		function(){
			$('.text3').hide();
		});
	$('.4').hover(
		function(){
			$('.text4').show();
		},
		function(){
			$('.text4').hide();
		});
	$('.5').hover(
		function(){
			$('.text5').show();
		},
		function(){
			$('.text5').hide();
		});
	$('.6').hover(
		function(){
			$('.text6').show();
		},
		function(){
			$('.text6').hide();
		});
	$('.7').hover(
		function(){
			$('.text7').show();
		},
		function(){
			$('.text7').hide();
		});
	$('.8').hover(
		function(){
			$('.text8').show();
		},
		function(){
			$('.text8').hide();
		});					

	
			