.container
  #slideshow
    %div= image_tag 'gallery-1.jpg', {u: 'image'}
    %div= image_tag 'gallery-2.jpg', {u: 'image'}
    %div= image_tag 'IMG_0362.JPG', {u: 'image'}


:javascript

    $('#slideshow').slick({
      dots: true,
      infinite: true,
      speed: 300,
      slidesToShow: 1,
      adaptiveHeight: true
    });