.container
  #slideshow
    %div= image_tag 'sj1 copy.jpg', {u: 'image'}
    %div= image_tag 'sj2 copy.jpg', {u: 'image'}
    %div= image_tag 'sj3 copy.jpg', {u: 'image'}


:javascript

  $(function(){
    $('#slideshow').slick({
      // autoplay: true,
      dots: true,
      adaptiveHeight: true,
      autoplay: true,
      autoplaySpeed: 3000,
    })
  })

