
.hotel-info
  %h1.text-center.page-title Venue Info
  %h1.text-center Hilton Hotel
  .address.text-center
    Menelik II Ave, 
    %br
    Addis Ababa 1164, Ethiopia
    %br
    +251 11 517 0000  
    
.row
  .col-md-8.col-md-offset-3.hidden-sm.hidden-xs
    .text-content
      %h3 Samra Ashenafi & Jawi Girma 
      %span together with their families 
      %p request the honor of your presence as they join together in marriage on the evening of 
      .span.date Saturday October 10th, 2015. 
      %p The wedding reception will be held at the 
      .span.date Hilton Hotel, Addis Abeba, Ethiopia. 
  .col-xs-12.hidden-md.hidden-lg
    .text-content-mobile
      .text-center
        %h3 Samra Ashenafi & Jawi Girma 
        %span together with their families 
        %p request the honor of your presence as they join together in marriage on the evening of 
        .span.date Saturday October 10th, 2015. 
        %p The wedding reception will be held at the 
        .span.date Hilton Hotel, Addis Abeba, Ethiopia. 
    
    .clearfix
  .clearfix
.clearfix
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
