.row
  .col-sm-4.col-sm-offset-1

    %h1 Hilton Hotel
    %h4 
      Menelik II Ave, 
      %br
      Addis Ababa 1164, Ethiopia
    %h4 +251 11 517 0000  
.row
  .col-md-8.col-md-offset-3.hidden-sm.hidden-xs
    .text-content
      %h3 Samra Ashenafi & Jawi Girma 
      %span together with ther families 
      %p request the honor of your presents as they join together in marriage on the evening of 
      .span.date Saturday October 10th, 2015. 
      %p The wedding reception will be held at the 
      .span.date Hilton Hotel, Addis Abeba, Ethiopia. 
  .col-xs-12.hidden-md.hidden-lg
    .text-content-mobile
      .text-center
        %h3 Samra Ashenafi & Jawi Girma 
        %span together with ther families 
        %p request the honor of your presents as they join together in marriage on the evening of 
        .span.date Saturday October 10th, 2015. 
        %p The wedding reception will be held at the 
        .span.date Hilton Hotel, Addis Abeba, Ethiopia. 