
.hotel-info{data: { top_bottom: 'background-color:rgba(0,0,0,0.9) ', bottom_center: 'background-color:rgba(255,0,0,0.0)'}} 
  %h1.text-center.page-title Venue Info
  %h1.text-center Hilton Hotel
  .address.text-center
    Menelik II Ave, 
    %br
    Addis Ababa 1164, Ethiopia
    %br
    +251 11 517 0000  
    
.row
  .col-md-8.col-md-offset-3.hidden-sm.hidden-xs
    .text-content{data: { bottom_top: 'transform:scale(1.5)', bottom_bottom: 'transform:scale(1)'}} 
      %h3 Samra Ashenafi 
      %h3 & 
      %h3 Dejen (Jawi) G/Kiros
      %span together with their families 
      %p request the honor of your presence as they join together in marriage on the evening of 
      .span.date Saturday October 10th, 2015. 
      %p The wedding reception will be held at the 
      .span.date Hilton Hotel, Addis Abeba, Ethiopia. 
      %h1 Invitation cards to follow 
    .clearfix

  .col-xs-12.hidden-md.hidden-lg
    .text-content-mobile
      .text-center
        %h3 Samra Ashenafi & Jawi Girma 
        %span together with their families 
        %p request the honor of your presence as they join together in marriage on the evening of 
        .span.date Saturday October 10th, 2015. 
        %p The wedding reception will be held at the 
        .span.date Hilton Hotel, Addis Abeba, Ethiopia.
        %h1 Invitation cards to follow 


    .clearfix
  .clearfix
.clearfix
%br/
%br/
%br/
.col-md-12.col-md-offset-5
  =link_to 'Sign their Guestbook', new_guestbook_path, class: 'btn btn-primary btn-lg sign-guestbook'
%br/
%br/
%br/
%br/
%br/
