.wedding-vid
  .slide
    %video#wed-vid{:autoplay => "", :loop => ""}
      %source{:src => "assets/wedding-video2.mp4", :type => "video/mp4"}

:javascript

    $.fn.fullpage({
      scrollOverflow: false,
      afterRender: function(){
        $('#wed-vid').get(0).play();      
        }
    });


  
    $('.wedding-vid video').on('loadedmetadata', function() {
      
      var $width, $height, // Width and height of screen
        $vidwidth = this.videoWidth, // Width of video (actual width)
        $vidheight = this.videoHeight, // Height of video (actual height)
        $aspectRatio = $vidwidth / $vidheight; // The ratio the video's height and width are in
            
      (adjSize = function() { // Create function called adjSize
              
        $width = $(window).width(); // Width of the screen
        $height = $(window).height(); // Height of the screen
              
        $boxRatio = $width / $height; // The ratio the screen is in
              
        $adjRatio = $aspectRatio / $boxRatio; // The ratio of the video divided by the screen size
              
        // Set the container to be the width and height of the screen
        $('.wedding-vid').css({'width' : $width+'px', 'height' : $height+'px'}); 
              
        if($boxRatio < $aspectRatio) { // If the screen ratio is less than the aspect ratio..
          // Set the width of the video to the screen size multiplied by $adjRatio
          $vid = $('#section0 video').css({'width' : $width*$adjRatio+'px'}); 
        } else {
          // Else just set the video to the width of the screen/container
          $vid = $('.wedding-vid video').css({'width' : $width+'px'});
        }
                 
      })(); // Run function immediately
            
      // Run function also on window resize.
      $(window).resize(adjSize);
          
    });