.wedding-party
  .row.hidden-sm.hidden-xs
    %h1 The Wedding Party
  .row.hidden-md.hidden-lg
    .page-title
      .mobile The Wedding Party
  .row
    .col-sm-10.col-sm-offset-1.people
      .row
        .col-sm-4
          =image_tag'beza.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Beza Tekola, Washington DC  |  Bridesmaid
            %p Beza and I have known each other for 15 years! Our friendship has withstood the test of time and distance. Our journey has been one of love and respect.  Although many miles have separated us once we graduated college we have always remained close by visiting each other whenever we can and through long phone conversations that often leaves us in tears from laughter! Beza has always been and will always be one of my dearest friends.               
          %hr
      .row
        .col-sm-4
          =image_tag'martha.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Martha Getachew, Addis Ababa  |  Bridesmaid
            %p Martha and I first met each other in Atlanta in 2011 and have been friends since. She is a woman with a kind heart and warm smile! Even though she moved to Addis and I was living in ATL you will often find us chatting on gchat no matter what time of the day. Then as faith would have it I also moved to Addis. Terrified of making new friends it’s been a blessing having Martha by my side to have fun with. She is someone who always makes me laugh and I look forward to creating new memories through our new adventures.        
          %hr
      .row  
        .col-sm-4
          =image_tag'meskerem.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Meskerm Woldegebrel, Toronto, Canada  |  Bridesmaid
            %p Meki and I are cousins! She’s known me almost all my life and understands my journey in life more than others. We have a bond that’s unbroken by distance and I know I can always count on her no matter what. She knows how to make me smile and motivate me through the tough times of life. She’s someone I look up to as an inspiration for strengthen and unconditional love. I am beyond excited to have her celebrate with us our wedding day. Especially since she and Weyni (his cousin) were the ones that introduced us. They will always have a special place in our love story and in our hearts.        
          %hr
      .row  
        .col-sm-4
          =image_tag'image1.JPG', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Fikerte G/Kiros “Kuku”, Seattle  |  Bridesmaid
            %p Kuku is not only my future sister-in law, but we have become friends since we first met a year ago. She’s fun to be around and has an easy going personality.  I first met her in Bahir Dar when she came to surprise her childhood friend for his wedding. She’s fun, loving, and considerate. I quickly found out we are the same size and can share dresses and shoes!! It’s like finding my twin sister! I am excited to call her my family and feel blessed to have been accepted with open arms by her and the rest of Jawi’s family.  
          %hr
      .row  
        .col-sm-4
          =image_tag'sanaz.JPG', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Sanaz Jalalat, Atlanta |  Bridesmaid
            %p Sanaz and I have known each other for over 15 years. She is my sister from another mother. Sanaz is one of the kindest, most thoughtful, and generous person I know. I can honestly say having her in my life has been one of the most important blessings I have received. At first she wasn’t going to make it to the wedding now that she’s able to join us with her husband I am beyond excited to have her by my side for the BIG day!  
          %hr    
      .row
    .col-sm-10.col-sm-offset-1.people
      .row
        .col-sm-4
          =image_tag'IMG_1119.JPG', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Sophia Akilas, Virginia  |  Flower Girl               
          %hr    
      .row
        .col-sm-4
          =image_tag'samuel.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Sami Haile, Delaware  |  Groomsmen
            %p I knew Sami since I was four and a half years old.  We grew up together and went to St. Joseph school.  We saw each other daily until I left for the US. Despite the distance we kept in touch. When I told Sammy I had met the “one” he was beyond excited for me. I can honestly say Sami is more than my best friend. He is more like my brother.
          %hr
      .row
        .col-sm-4
          =image_tag'mahari.JPG', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i  Mehari Zewdu, Addis Ababa  |  Groomsmen
            %p Mehari and I have been friends for many years. We met when I returned to Addis from the U.S. I can say we have had some great memories together.  Mehari is fun to be around and has a great sense of humor. When I met Samra and introduced her to my friends Mehari was the first to meet her at a BBQ at his place. I am glad to have him be part of our special day.
          %hr
      .row
        .col-sm-4
          =image_tag'Abrish.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Abrahm Tesfa Kiros, Addis Ababa  |  Groomsmen
            %p Abrish is my cousin and we grew up together. Even at a young age I have always known I can rely on him for great advice and moral support. He’s always positive, generous, and thoughtful. Abrish is very smart and motivated and I am always inspired when I am around him. He’s always laughing and enjoying life to the fullest. When he met Samra early on in our relationship he was very excited for me and always encouraged me to take the next step. 
          %hr
      .row  
        .col-sm-4
          =image_tag'Yoni.jpg', class: 'img-circle wedding-party-image gm1'        
        .col-sm-6
          %span.gm1-text
            %i Yoni Solomon, Seattle |  Groomsmen
            %p Yonie is my cousin and someone I am blessed to call my friend as well.  We grew up together having fun! When we were teenagers growing up in Seattle we always hung out together. To this day Yonie is someone I confide in. I admire his creativity and his ability to think outside the box.
          %hr      
  
      .row  
        .col-sm-4
          =image_tag'henock.jpg', class: 'img-circle wedding-party-image gm1'
        .col-sm-6
          %span.gm1-text
            %i Henock Gebre Kiros, Addis Ababa  |  Groomsmen
            %p Henock is my younger brother. We grew up having fun playing games and putting on dramas for our family. He is someone I can count on for anything I need and he always steps up to take the responsibility. Ever since I introduced Samra to him he has treated her as if she was his own sister.  I am honored to have him as a groomsmen as I take this important step in life.
          
      %br/
      %br/ 
      %br/ 
      %br/ 
