/welcome page
.clear-fix.clearfix
.content
  .page.home#home
    = render partial: 'home'
  .page.our-story#our-story{data: { top_bottom: 'background-color:rgb(25,25,25) ', bottom_center: 'background-color:rgb(105,105,105)'}} 
    = render partial: 'our_story2'
  .page.proposal#the-proposal
    = render partial: 'proposal'
  .page.wedding-party#wedding-party
    = render partial: 'wedding_party'
  
