// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// font-family: 'Wire One', sans-serif;
// font-family: 'Ek Mukta', sans-serif;
// font-family: 'Great Vibes', cursive;
// font-family: 'Dawning of a New Day', cursive;
.line1{font-family: 'Great Vibes', sans-serif; font-size: 5em;}
.line2 { font-family: 'Wire One', cursive; font-size: 4em;}
.line3{font-family: 'Wire One', cursive; font-size: 4em;}
#navbar{
	font-family: 'Wire One', cursive; 
	font-size: 2em;
}


.content{
	.page{
		padding-top: 50px;
		font-size: 1.1em;
		h2{font-family: 'Ek Mukta', sans-serif;}
		h3{font-family: 'Great Vibes', sans-serif;}
		.page-title{font-family: 'Great Vibes', sans-serif; font-size: 3em;}
	}
	.text-container{
		background-color: rgba(255,255,255,0.5);
	}
	.glyphicon-menu-down{
		font-size: 5em;
		padding-top: 30px;
		color: gray;
		text-decoration: none;
	}
	.glyphicon-option-horizontal{
		font-size: 2.5em;
		padding: none;
	}
	.glyphicon-menu-left{
		font-size: 2.5em;
	}
	.glyphicon-heart{
		font-size: 2.5em;
		color: white;
		&:hover{
			color: red;
		}
	}
	.glyphicon-menu-right{
		padding-top: 80px;
		font-size: 2.5em;
	}
	

	.home{
		width: 100%;
		height: 1000px;
		position: relative;
		overflow: hidden;
		text-align: center;
		background: #292929 url(../assets/sj1.jpg) 0% 0% no-repeat fixed;
		background-size: cover;
		padding-top: 120px;
		
	}
	.our-story{
		background-color: #4AD9DB;
		height: 550px;
		width: 100%;
		h2{font-family: 'Great Vibes', sans-serif; font-size: 4em;}
		h3{font-family: 'Great Vibes', sans-serif; font-size: 2em;}
		.text{
			display: none;
		}

		

	}
	.proposal{
		width:100%;
		height:900px;
		position:relative;
		overflow:hidden;
		text-align:center;
		background:#292929 url(../assets/sj2.jpg) 0% 0% repeat fixed;
		background-size: cover;
	}
	.wedding-party{
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		text-align: center;
		background-color: #4AD9DB;
		color: #fff;
		.wedding-party-text{
			h3{font-family: 'Wire One', sans-serif; font-size: 2em;}
			h2{font-family: 'Great Vibes', sans-serif; font-size: 1.5em;}
			font-family: 'Dawning of a New Day', cursive; font-size: 1.5em;
			
		}
	}
	#wedding-party{
		h1{font-family: 'Great Vibes', sans-serif; font-size: 4.5em; color:black;letter-spacing: 4px;}
		color: black;
		i{
			font-family: 'Wire One', sans-serif; 
			font-size: 2.5em;
			padding: none;
			margin: none;
			letter-spacing: 2px;
		}
		
		ul{
  			list-style: none;
  			position: relative;
  			overflow: hidden;
  			padding: none;
  			margin: none;
  			display: inline;
		}
		span{
			width: 150px;
			height: 300px;
			text-align: center;
			display: none;
			position: relative;	
		}
		img{
			opacity: .4;
		}
		li{
			padding-bottom: 15px;
		}

		li:hover span {
  			display: inline;
		}
		li:hover img{
			opacity: 1;
		}
	}
	
	.wedding-party-image {
		height: 150px;
		width: 150px;
		position: relative;
		overflow: hidden;
		
	}
	
	.faded{opacity: 0.3}
	.solid{opacity: 1}
	
	.photo-gallery{
		width: 100%;
		height: 1000px;
		position: relative;
		overflow: hidden;
		text-align: center;
		background: #212426 url(../assets/dark_embroidery.png) 0 0 repeat fixed;
		background-color: #212426;
	}
	.venue{
		h1, h2, h3, h4 { color: #fff}
		color: #000;
		width: 100%;
		height: 800px;
		position: relative;
		overflow: hidden;
		background: #212426 url(../assets/bgmap2.jpg) 0 80px no-repeat fixed;
		.text-content{
			background-color: #fff;
			height: 400px;
			width: 600px;
			padding: 20px;
			text-align: center;
			font-family: 'Great Vibes', sans-serif;

			h3{ 
				color: black;
				font-size: 3em;
			}
			span{
				font-size: 1.5em;
				font-weight: lighter;

			}
			.date{
				font-size: 2.5em;
			}
			p{
				font-size: 1.5em;
			}
		}
	}
	
	.guestbook{
		width: 100%;
		position: relative;
		background: #292929 url(../assets/sj_guestbook.jpg) 52% -150px no-repeat fixed;
		background-size:180% auto;

		color: gray;
		h2{
			font-family: 'Great Vibes', sans-serif; font-size: 5em;
		}
		.new{
			h2{font-family: 'Great Vibes', sans-serif; font-size: 2.1em}
			height: 900px;
			padding-top: 20px;
			.quote{
				text-align: center;
			}
		}
		.index{
			padding-top: 80px
		}
		
		
	}
	.guestbook-name{
		font-family: 'Great Vibes', sans-serif; font-size: 1.6em;
		font-weight: 900;
	}
	.guestbook-msg{
		font-family: 'Ek Mukta', sans-serif; font-size: 1em;
	}
	
}