#music-player.jp-jplayer
#jp_container_1.jp-audio{"aria-label" => "media player", :role => "application"}
  .jp-type-single
    .jp-gui.jp-interface
      .jp-controls
        %i.fa.fa-play.jp-play{:role => "button", :tabindex => "0"} 
        %i.fa.fa-pause.jp-pause{:role => "button", :tabindex => "0"} 

:javascript

  $(function(){
    $('#music-player').jPlayer({
      ready: function(event){
        $(this).jPlayer("setMedia", {
          title: "Bubble",
          mp3: "/audio/wedding-song.mp3"
        }).jPlayer("play");
      },
      swfPath: "/swf/",
      supplied: "mp3",
      wmode: "window",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true,
      remainingDuration: true,
      toggleDuration: true,
      autoPlay: true,
      volume: 0.25
    });
  });